<!DOCTYPE html>
<html>
<head>
    <title>Stark</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div style="text-align: center; font-family: sans-serif;">
        
        <h2 style="color: red;">About Iron man</h2>
        <p style="color: gold; font-family: sans-serif;">Since that first suit built in a cave, Tony has created dozens of new suits 
            and upgrades over the years. However, throughout the 50-plus Iron Man models,
            there are common offensive and defense capabilities found in most iterations.
            The primary weapon contained within every suit, the repulsor rays use energy 
            pulses to repel and disrupt enemies and are generated through the suit’s gauntlets. 
            The suit’s booster jets enable Stark to fly fast enough to break the sound barrier, 
            and maneuver more quickly than any fighter jet.
            Iron Man’s helmet provides Tony with a heads-up display that gives him 360-degree vision, 
            access to information about his surroundings and enemies, and the ability to transmit and 
            block transmissions along any frequency. The helmet also gives Tony a degree of resistance 
            to EMP and psychic-based attacks.
            A weapon centered in Iron Man’s chest, the unibeam is capable of projecting dazzling light, 
            and can also be used as a powerful force beam that is even more powerful than the repulsor ray.
            Each of Tony’s suits provides a full range of telecommunications, including the ability to 
            jam and transmit on any frequency, and sophisticated artificial intelligence capable of piloting 
            Tony to safety should he be rendered unconscious.
            Beyond his all-purpose suits, Tony has created specialized armor for specific scenarios. 
            Some notable examples include the Hulkbuster armor (so-named as its size and strength allow 
            Tony to stand toe-to-toe with the Hulk, when needed), along with deep-space, underwater and 
            stealth suits.
            One thing common to most of Iron Man’s recent suits is the integration of Extremis, an attempt 
            to re-create the super-soldier serum with many modifications. When using Extremis, Tony can interface 
            with his brain’s repair center, which allows him to rebuild his body from scratch. Essentially, 
            Tony is able to merge his mind, body, and armor in unprecedented ways. He can “armor up” in mere 
            seconds—with armor stored within himself—gains split-second reaction times, and can even generate 
            new internal organs to replace the old. Unfortunately, Extremis is also vulnerable to being hacked, 
            and the Skrulls and other organizations have done just that.
            Numerous villains have made up Iron Man’s gallery of enemies, with many of them similarly armor-based 
            in order to counter Iron Man’s abilities. The Russians have created both the Crimson Dynamo and 
            Titanium Man to try and stop the threat posed by Iron Man, and have fought Stark through numerous 
            iterations.
            The Mandarin is one of Iron Man’s fiercest archvillains. A tactical, mystical and technological genius, 
            the Mandarin sought ultimate power, and often Iron Man is the only one smart and strong enough to stand 
            in his way. In fact, the Mandarin, working with warlord Wong-Chu, captured Tony Stark and indirectly 
            brought about the creation of Iron Man. The Mandarin has returned again and again to pit his magic 
            and intellect against Stark technology.
            A competing industrialist, Obadiah Stane, never lost his taste for weapons and was a great fan of 
            psychological warfare. He took hostile control of Tony Stark’s company for a time, and though 
            he perished in battle, his descendants are perhaps even more ruthless than he was.
            Another rival industrialist on par with Stane, Justin Hammer is interested in the accumulation of wealth and power and sees Tony’s altruism as a big stumbling block toward that goal.Other foes of note for Tony through the years have included the Ghost, Radioactive Man, and nefarious organizations like Advanced Idea Mechanics (AIM).
        </p>
    </div>
    <img src="https://playcontestofchampions.com/wp-content/uploads/2021/11/champion-iron-man-infinity-war-720x720.jpg" style="text-align: center;">
    {% endblock content %}

</body>
</html>